# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true

[*.cs]
# Suppress 'new-expression can be simplified because fully-qualified new()'s make for more intuitive code
dotnet_diagnostic.IDE0090.severity=silent
