# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true

[*.cs]
# Suppress 'new-expression can be simplified' because fully-qualified new()'s make for more intuitive code
dotnet_diagnostic.IDE0090.severity=silent
# Suppress 'use index operator (^)' and 'use substring operator (..)' because they make the code less readable / intuitive
dotnet_diagnostic.IDE0056.severity=silent
dotnet_diagnostic.IDE0057.severity=silent
# Supress 'do not use implicit cast' because it makes the code much less readable
dotnet_diagnostic.IDE0220.severity=silent
