<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="robocopy_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <robocopy_gui.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1020</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
        </robocopy_gui.Properties.Settings>
    </userSettings>
</configuration>